:root {
  --primary: 50, 84, 168;
  --secondary10: #ccc;
  --secondary20: #999;
  --secondary30: #666;
  --secondary40: #333;
  --shadow10:rgba(12, 12, 13, 0.1);
  --shadow20:rgba(12, 12, 13, 0.15);
  --shadow30:rgba(12, 12, 13, 0.2);
  --shadow40:rgba(12, 12, 13, 0.25);
  --spacing5: 8px;
  --spacing10: 16px;
  --spacing20: 24px;
  --spacing30: 32px;
  --spacing40: 48px;
  --spacing50: 60px;
  --spacing60: 72px;
  --warning: 196, 13, 0;
  --success: 0, 118, 196;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: #000;
  color: #ccc;
}

.title {
  font-size: 60px;
  font-weight: 600;
  margin-block: 10px;
}

.subtitle {
  font-size: 24px;
}

.subtitle2 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 0.5em;
}

.body {
  font-size: 14px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing10);

}

.history__container,
.dashboard__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  margin: var(--spacing10);
}

.history__container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.history__log {
  grid-column: 1;
  border-radius: 4px;
  border: 1px solid var(--secondary10);
  padding: var(--spacing10);
}

.history__analysis {
  display: grid;
  grid-column: span 3;
  gap: var(--spacing10);

}

.history__analysis--widget {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-column: span 3;

}

.widget,
.widget--line-graph {
  padding: var(--spacing20);
  border-radius: 4px;
  /* border: 1px solid var(--secondary10); */
  box-shadow: 0px 1px 4px var(--shadow10);
  background-color: #222
}

.widget--line-graph {
  grid-column: span 3;
  gap: var(--spacing10);
}

.status-bar__prompt--warning,
.status-bar__prompt--success {
  background-color: rgba(var(--warning), 0.2);
  border: none;
  padding: 0px 16px;
  border-radius: 6px;
}

.status-bar__prompt--success {
  background-color: rgba(var(--success), 0.2);
}

.status-bar__prompt--warning p{
  color: rgba(var(--warning), 1.0);
}

.status-bar__prompt--success p{
  color: rgba(var(--success), 1.0);
}

.status-bar__inputs {
  margin-left: auto;
}

.status-bar__buttonContainer {

}

.tabs {
  padding: var(--spacing10);
}

.tab,
.tab--active {
  border: none;
  font-size: 16px;
  color: var(--secondary30);
  background: none;
  padding: var(--spacing5) var(--spacing30);
  padding-left: 0px;
}

.tab:hover {
  color: var(--secondary20);
  transition: all .3s;
}

.tab--active {
  color: var(--secondary10);
  /* border-bottom: 3px solid; */
}

.btn__primary {
  border-radius: 6px;
  border: none;
  background-color: rgba(var(--primary),1.0);
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 16px 16px;
}

.btn__primary:hover {
  background-color:#157d42;
   color: #fff;
  transition: all .3s;
}
.btn__primary--disconnect,
.btn__primary--connect {
  margin: auto 0;
  border-radius: 6px;
  border: none;
  background-color: rgba(var(--primary),0.7);
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 16px;
  height: 100%;
  margin-left: 8px;
}

.btn__primary--connect:hover {
  background-color: rgba(var(--primary),1.0);
  border: none;
  color: #000;
  transition: all .3s;
}

.btn__primary--disconnect {
  background-color: rgba(var(--warning));
  color: #fff;
  border: none;
}

.btn__primary--disconnect:hover {
  background-color: rgba(var(--warning), 0.8);
  color: #fff;
  transition: all .3s;
}

.modal__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  width: 60%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px var(--shadow30);
}

.modal {
  display: flex;
  padding: var(--spacing30);
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;

}

input {
  padding: 13px 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid var(--secondary10);
  margin-left: 8px;
}
